body{
    margin:0; 
    padding:0;
    background-color:rgb(3, 3, 3); 
    text-align:center
}
h1{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
canvas{
    background-color:#999; 
    width: 300;
    height: 150;
    width:80%; 
    height:80%;
}